# https://git-scm.com/docs/git-config
# https://github.com/git-for-windows/git/blob/main/Documentation/config/core.adoc
[help]
  autocorrect = true
[diff]
  algorithm = histogram
  renames = copies
[user]
  name = soredake
  email = 5204968+soredake@users.noreply.github.com
[push]
  autoSetupRemote = true
[pull]
  rebase = true
[advice]
  statusUoption = false
# https://runestone.academy/ns/books/published/opensource/sec_git_getting_started.html
# https://docs.github.com/en/get-started/git-basics/associating-text-editors-with-git#using-visual-studio-code-as-your-editor
[core]
  editor = code --new-window --wait
# https://code.visualstudio.com/docs/sourcecontrol/merge-conflicts#_configure-vs-code-as-default-merge-tool
# https://code.visualstudio.com/docs/getstarted/tips-and-tricks#_set-vs-code-as-default-merge-tool
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
