# https://git-scm.com/docs/git-config
# https://github.com/git-for-windows/git/blob/main/Documentation/config/core.adoc
[help]
  autocorrect = true
[diff]
  algorithm = histogram
  renames = copies
[core]
  editor = code -w
  # fix for https://github.com/microsoft/vscode/issues/121231#issuecomment-819438763
  sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
[user]
  name = soredake
  email = 5204968+soredake@users.noreply.github.com
# https://github.com/microsoft/vscode/issues/5770#issuecomment-1188658476
[merge]
  tool = code
[mergetool "code"]
  cmd = code --wait -m $REMOTE $LOCAL $BASE $MERGED
[push]
  autoSetupRemote = true
[pull]
  rebase = true
[advice]
  statusUoption = false
#[safe]
# Upgrading git fails without this
# https://stackoverflow.com/a/77467780
# https://medium.com/@thecodinganalyst/git-detect-dubious-ownership-in-repository-e7f33037a8f
#  directory = *
